@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Sora:wght@400;600;800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}
.intro h1 {
  font-size: 4rem;
  margin: 1rem 0;
}
.intro p {
  font-size: 1.5rem;
}

.btn {
  font-family: "Sora", sans-serif;
  background: #fff;
  color: #202534;
  font-weight: 700;
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  width: fit-content;
}
@media only screen and (max-width: 820px) {
  .intro .btn {
    background: #202534;
    color: #fff;
  }
}

.App {
  background: #fff;
  min-height: 100vh;
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0d1120;
  padding: 2rem;
}
@media only screen and (max-width: 820px) {
  .App-header {
    padding: 1.5rem;
  }
}
.App-intro {
  background-color: #202534;
  display: flex;
  gap: 0rem 1rem;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}
@media only screen and (max-width: 820px) {
  .App-intro {
    flex-direction: column;
  }
}
.content {
  padding: 0 4rem;
}
@media only screen and (max-width: 820px) {
  .content {
    padding: 0 0rem;
  }
}

#nav {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
}
#logo {
  max-width: 70px;
}
@media only screen and (max-width: 820px) {
  #logo {
    max-width: 50px;
  }
}

.intro {
  flex-basis: 50%;
  padding: 2rem;
  color: #fff;
  text-align: left;
}
@media only screen and (max-width: 820px) {
  .intro {
    background: white;
    color: #202534;
  }
}

.area-card {
  padding: 2rem;
  display: flex;
  background: #e9e9e9;
  gap: 0rem 1rem;
}
@media only screen and (max-width: 820px) {
  .area-card {
    flex-direction: column;
  }
}
.card {
  flex-basis: 25%;
  background: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}
.card-img {
}
.card-title {
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
.card-text {
}
